<%= form_for(@dream) do |f| %>
  <% if @dream.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dream.errors.count, "error") %> prohibited this dream from being saved:</h2>

      <ul>
      <% @dream.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.cktext_area :description %>
  </div>
  <div class="field">
    <%= f.label :start_time %><br>
    <%= f.datetime_select :start_time %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
